<style>
    .site-footer {
        background-color: #26272b;
        padding: 45px 0 20px;
        font-size: 15px;
        line-height: 24px;
        color: #f1f1f1;
    }

    .container1 {
        text-align: center;
    }
</style>
<body>
    <footer class="site-footer">
        <div class="container1">
            <h4>Zero Hunger</h4>
        </div>
    </footer>
</body>
