﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/admin_login.css" rel="stylesheet" type="text/css" />
<style>
    .header a.Home {
        background-color: dodgerblue;
        color: white;
    }
</style>
<body>
    <div class="container3" align="center">
        <img src="~/Content/Banner1160X450.jpg" alt="Notebook">
        <div class="content">
            <h1>Share the warmth</h1>
            <p>We can make a strong relationship with underprivileged children through sharing food. We are selling the food for 1 Taka that they do not feel that they are begging.</p>
        </div>
    </div>
</body>



