@{
    ViewBag.Title = "ChangePassword";
}

<style>
    .header a.Change-password {
        background-color: dodgerblue;
        color: white;
    }
</style>
<link href="~/Content/admin_login.css" rel="stylesheet" type="text/css" />
<fieldset>
    <legend> <b>Change Password</b> </legend>
    <br>
    <form action="" method="POST">
        <br>
        <label>Old Password: </label>
        <input type="password" placeholder="Enter Password" name="Old_Password">

        <label>New Password: </label>
        <input type="password" placeholder="Enter Password" name="New_Password">

        <label> Confirm Password: </label>
        <input type="password" placeholder="Enter Password" name="Con_Password">
        <br>
        <input id="sub2" type="reset" name="reset" value="Reset">
        <input id="sub1" type="submit" name="Login" value="Change Password">
    </form>
    <span class="alert-warning" style="color:orangered"><b>@TempData["error"]</b></span>
    <br><br>

</fieldset>
<br/>